<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="exurdf2" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link
    name="handbase_link">
    <inertial>
      <origin
        xyz="0.0068536 -0.0032827 0.15427"
        rpy="0 0 0" />
      <mass
        value="1.3106" />
      <inertia
        ixx="0.0017579"
        ixy="3.605E-05"
        ixz="-6.2211E-06"
        iyy="0.0017392"
        iyz="-5.6815E-06"
        izz="0.0031039" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/hand/handbase_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/hand/handbase_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="f1Link1">
    <inertial>
      <origin
        xyz="-0.027217 0.015636 -0.018412"
        rpy="0 0 0" />
      <mass
        value="0.1943" />
      <inertia
        ixx="5.0231E-05"
        ixy="-4.4869E-06"
        ixz="-8.2062E-07"
        iyy="5.5471E-05"
        iyz="5.7019E-07"
        izz="3.5768E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/hand/f1Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.94902 0.89804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/hand/f1Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f1j1"
    type="revolute">
    <origin
      xyz="-0.03097 -0.016751 0.2893"
      rpy="0 0 0" />
    <parent
      link="handbase_link" />
    <child
      link="f1Link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="1.57"
      effort="100"
      velocity="4" />
  </joint>
  <link
    name="f1Link2">
    <inertial>
      <origin
        xyz="-0.02357 -0.021421 0.018942"
        rpy="0 0 0" />
      <mass
        value="0.073035" />
      <inertia
        ixx="2.3141E-05"
        ixy="1.5948E-05"
        ixz="1.2581E-07"
        iyy="2.3914E-05"
        iyz="1.1946E-07"
        izz="4.4461E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/hand/f1Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.94902 0.89804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/hand/f1Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f1j2"
    type="revolute">
    <origin
      xyz="-0.03233 -0.0018879 0.006"
      rpy="-1.5708 8.7266E-05 -0.5236" />
    <parent
      link="f1Link1" />
    <child
      link="f1Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="1.3963"
      effort="100"
      velocity="4" />
  </joint>
  <link
    name="f1Link3">
    <inertial>
      <origin
        xyz="-0.016803 -0.020891 0.011999"
        rpy="0 0 0" />
      <mass
        value="0.057879" />
      <inertia
        ixx="1.6904E-05"
        ixy="9.7694E-06"
        ixz="9.1101E-09"
        iyy="1.2703E-05"
        iyz="1.2096E-08"
        izz="2.4528E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/hand/f1Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.94902 0.89804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/hand/f1Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f1j3"
    type="continuous">
    <origin
      xyz="-0.049957 -0.049034 0.0058"
      rpy="0 0 0" />
    <parent
      link="f1Link2" />
    <child
      link="f1Link3" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="100"
      velocity="4" />
    <mimic
      joint="f1j2"
      multiplier="1"
      offset="0" />
  </joint>
  <link
    name="f2Link1">
    <inertial>
      <origin
        xyz="-0.021392 -0.023597 -0.016858"
        rpy="0 0 0" />
      <mass
        value="0.073035" />
      <inertia
        ixx="2.6213E-05"
        ixy="1.5725E-05"
        ixz="1.1369E-07"
        iyy="2.0842E-05"
        iyz="1.3105E-07"
        izz="4.4461E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/hand/f2Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.94902 0.89804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/hand/f2Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f2j1"
    type="revolute">
    <origin
      xyz="0.03153 -0.038988 0.2953"
      rpy="-1.5708 -8.7266E-05 2.618" />
    <parent
      link="handbase_link" />
    <child
      link="f2Link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="1.3963"
      effort="100"
      velocity="4" />
  </joint>
  <link
    name="f2Link2">
    <inertial>
      <origin
        xyz="-0.012481 -0.023727 -0.012001"
        rpy="0 0 0" />
      <mass
        value="0.057879" />
      <inertia
        ixx="2.0429E-05"
        ixy="8.2585E-06"
        ixz="6.6195E-09"
        iyy="9.1773E-06"
        iyz="1.3619E-08"
        izz="2.4528E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/hand/f2Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.94902 0.89804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/hand/f2Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f2j2"
    type="continuous">
    <origin
      xyz="-0.04499 -0.053627 -0.006"
      rpy="0 0 0" />
    <parent
      link="f2Link1" />
    <child
      link="f2Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="100"
      velocity="4" />
    <mimic
      joint="f2j1"
      multiplier="1"
      offset="0" />
  </joint>
  <link name="f3Link1">
    <inertial>
      <origin rpy="0 0 0" xyz="0.027217 0.015636 0.018412" />
      <mass value="0.1943" />
      <inertia ixx="5.0231E-05" ixy="4.4869E-06" ixz="-8.2062E-07" iyy="5.5471E-05" iyz="-5.7019E-07" izz="3.5768E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/hand/f3Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.94902 0.89804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/hand/f3Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f3j1"
    type="continuous">
    <origin
      xyz="-0.00097813 0.035196 0.2893"
      rpy="-3.1416 0 3.1416" />
    <parent
      link="handbase_link" />
    <child
      link="f3Link1" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="100"
      velocity="4" />
    <mimic
      joint="f1j1"
      multiplier="1"
      offset="0" />
  </joint>
  <link
    name="f3Link2">
    <inertial>
      <origin
        xyz="-0.02357 -0.021421 0.018942"
        rpy="0 0 0" />
      <mass
        value="0.073035" />
      <inertia
        ixx="2.3141E-05"
        ixy="1.5948E-05"
        ixz="1.2581E-07"
        iyy="2.3914E-05"
        iyz="1.1946E-07"
        izz="4.4461E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/hand/f3Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.94902 0.89804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/hand/f3Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f3j2"
    type="revolute">
    <origin
      xyz="0.03233 -0.0018879 -0.006"
      rpy="1.5708 -8.7266E-05 -2.618" />
    <parent
      link="f3Link1" />
    <child
      link="f3Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="1.3963"
      effort="100"
      velocity="4" />
  </joint>
  <link
    name="f3Link3">
    <inertial>
      <origin
        xyz="-0.016803 -0.020891 0.011999"
        rpy="0 0 0" />
      <mass
        value="0.057879" />
      <inertia
        ixx="1.6904E-05"
        ixy="9.7694E-06"
        ixz="9.1101E-09"
        iyy="1.2703E-05"
        iyz="1.2096E-08"
        izz="2.4528E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/hand/f3Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.94902 0.89804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://iiwa_description/meshes/hand/f3Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f3j3"
    type="continuous">
    <origin
      xyz="-0.049957 -0.049034 0.0058"
      rpy="0 0 0" />
    <parent
      link="f3Link2" />
    <child
      link="f3Link3" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="100"
      velocity="4" />
    <mimic
      joint="f3j2"
      multiplier="1"
      offset="0" />
  </joint>
  <joint name="hand2arm" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="iiwa_link_ee"/>
    <child link="handbase_link"/>
  </joint>
</robot>